/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  width: 100%;
  padding: 10px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Gaya tombol tema */
.theme-button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #f4a261; /* Warna untuk mode terang */
  transition: transform 0.2s ease-in-out;
}

.theme-button:hover {
  transform: scale(1);
}

/* Tema Gelap */
body.dark-theme {
  background-color: none;
  color: #ffffff;
}

body.dark-theme .theme-button {
  color: #FFD700; /* Warna emas untuk mode gelap */
}
